# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

azure-functions==1.18.0
lingua-language-detector==2.0.2
HTMLParser==0.0.2
python-dotenv==1.0.1